* {
     margin: 0;
     padding: 0;
     font-family: "Red Hat Text", serif;
}

body {
     background-color: hsl(13, 31%, 94%);
}

.container__store {
     display: flex;
     align-items: start;
     margin-top: 40px;
     margin-left: 160px;
}

.container {
     display: grid;
     align-items: center;
}

.container > h1 {
     font-weight: 600;
     color: hsl(14, 65%, 9%);
     margin-bottom: 20px;
}

.container-cards {
     display: grid;
     grid-template: repeat(3, 430px) / repeat(3, 300px);
     column-gap: 40px;
     background-color: white;
     padding: 40px;
     border-radius: 20px;
}

.card {
     display: grid;
     align-items: center;
}

.card > img {
     width: 300px;
     border-radius: 10px;
}

.card > .addToCart-btn {
     border: 1px solid #c5baba;
     background-color: white;
     border-radius: 20px;
     font-weight: 600;
     position: relative;
     top: -10px;
     transition: 0.5s ease-in-out;
     width: fit-content;
     display: flex;
     align-items: center;
     padding: 5px 15px;
     left: 50%;
     transform: translate(-50%, -40%);
     cursor: pointer;
}

.card > .addToCart-btn:hover {
     border: 1px solid hsl(14, 86%, 42%);
}

.addToCart-btn > button {
     border: none;
     background-color: transparent;
     padding: 3px 10px;
     cursor: pointer;
     transition: 0.5s ease-in-out;
}

.addToCart-btn > button:hover {
     color: hsl(12, 20%, 44%);
}

.addToCart-btn > .decrement {
     border: 1px solid;
     border-radius: 20px;
     cursor: pointer;
     color: white;
     padding: 5px;
}

.addToCart-btn > .decrement:hover {
     background-color: white;
     color: hsl(14, 86%, 42%);
}

.addToCart-btn > strong {
     padding: 0 35px;
     color: white;
}

.addToCart-btn > .increment {
     border: 1px solid;
     border-radius: 50%;
     cursor: pointer;
     color: white;
     padding: 3px;
}

.addToCart-btn > .increment:hover {
     background-color: white;
     color: hsl(14, 86%, 42%);
}

.card h5 {
     color: hsl(14, 25%, 72%);
}

.card h4 {
     color: hsl(14, 65%, 9%);
}

.card span {
     color: hsl(14, 86%, 42%);
     font-weight: 600;
     margin-bottom: 40px;
}

.cart-container {
     display: grid;
     align-items: center;
     background-color: white;
     border-radius: 10px;
     margin-left: 40px;
     width: clamp(400px, 21vw, 500px);
}

.cart-container > h2 {
     color: hsl(14, 86%, 42%);
     font-weight: 700;
     padding-top: 20px;
     padding-left: 20px;
     text-transform: capitalize;
}

.cart-container > svg {
     width: 300px;
     margin: 0 auto;
     margin-top: 40px;
}

.cart-container > p {
     color: hsl(12, 20%, 44%);
     font-weight: 500;
     margin: 40px auto;
     background-color: #f0eeee;
     padding: 20px;
     border-radius: 10px;
}

.info {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid hsl(14, 25%, 72%);
     padding: 20px;
}
.info > svg {
     width: 15px;
     height: 15px;
     border-radius: 50%;
     border: 2px solid hsl(14, 25%, 72%);
     padding: 3px;
     cursor: pointer;
}

.title-and-price {
     display: grid;
     align-items: center;
}

.title-and-price > h3 {
     text-transform: capitalize;
     font-weight: 700;
     color: hsl(14, 65%, 9%);
     margin-bottom: 10px;
}

.price-info-and-quantity {
     display: flex;
     align-items: center;
}

.price-info-and-quantity > .count-number {
     color: hsl(14, 86%, 42%);
     margin-right: 10px;
     font-weight: 700;
}

.price-info-and-quantity > .price {
     color: hsl(14, 25%, 72%);
     margin-right: 10px;
     font-weight: 500;
}

.price-info-and-quantity > .double-price {
     color: hsl(12, 20%, 44%);
     font-weight: 700;
}

.footer {
     display: grid;
     align-items: center;
}

.order-total {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 20px;
     margin-bottom: 40px;
}

.order-total > h3 {
     text-transform: capitalize;
     font-weight: 500;
     color: hsl(14, 65%, 9%);
     font-size: 15px;
}

.order-total h4 {
     font-weight: 700;
     color: rgb(52, 42, 42);
     font-size: 20px;
}

.footer > p {
     background-color: hsl(13, 31%, 94%);
     border-radius: 10px;
     padding: 20px 80px;
     color: hsl(14, 65%, 9%);
     font-weight: 500;
     font-size: 15px;
     width: fit-content;
     margin: 20px auto;
}

.footer > p > span {
     color: hsl(14, 65%, 9%);
     font-weight: 700;
}

.footer > button {
     background-color: hsl(14, 86%, 42%);
     border-radius: 20px;
     font-weight: 500;
     color: white;
     padding: 20px 120px;
     width: fit-content;
     margin: 0 auto;
     border: none;
     margin-bottom: 40px;
     cursor: not-allowed;
     transition: 0.5s ease-in;
}

.footer > button:hover {
     background-color: rgb(213, 162, 162);
}

.attribution {
     padding-left: 20px;
     padding-bottom: 20px;
}
.attribution a {
     text-decoration: none;
     color: #bcbbbb;
     font-size: 12px;
     line-height: 0.2;
}

.attribution > a:hover {
     color: hsl(12, 20%, 44%);
}

@media (min-width: 500px) and (max-width: 1600px) {
     .container__store {
          display: grid;
          margin-left: 0;
          justify-content: center;
     }

     .container > h1 {
          text-align: center;
          font-weight: 200;
          font-size: 40px;
     }

     .container-cards {
          display: flex;
          flex-direction: column;
          width: clamp(400px, 57vw, 800px);
          margin: 0 auto;
          margin-bottom: 40px;
     }

     .card {
          display: none;
     }

     .card.active {
          display: block;
          margin: 0 auto;
          margin-bottom: 40px;
     }

     .card > img {
          width: clamp(300px, 55vw, 500px);
     }

     .card.active::after {
          background-color: blue;
          width: 10px;
          height: 10px;
     }

     .dots {
          display: flex;
          flex-direction: row;
          margin: 0 auto;
     }

     .dot {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid antiquewhite;
          margin-right: 20px;
     }

     .dot.active {
          animation-name: rectangular-dot;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          animation-duration: 2s;
          border-radius: 10px;
          transition: 0.5s ease;
     }

     @keyframes rectangular-dot {
          from {
               width: 20px;
          }
          to {
               width: 50px;
          }
     }

     .dot.active::before {
          content: "";
          width: 20px;
          height: 20px;
          animation-name: progress-load;
          animation-duration: 10s;
          background-color: antiquewhite;
          animation-iteration-count: 1;
          border-radius: 5px;
          animation-fill-mode: forwards;
          display: block;
     }

     @keyframes progress-load {
          from {
               width: 20px;
          }
          to {
               width: var(--progress);
          }
     }

     .cart-container {
          width: clamp(400px, 59vw, 900px);
          margin-left: 0;
     }

     .cart-container > h2 {
          text-align: center;
     }

     .attribution {
          padding-left: 0;
          margin: 0 auto;
     }
}

@media (min-width: 320px) and (max-width: 499px) {
     .container__store {
          display: grid;
          margin-left: 0;
          justify-content: center;
     }

     .container > h1 {
          text-align: center;
          font-weight: 200;
          font-size: 40px;
     }

     .container-cards {
          display: flex;
          flex-direction: column;
          width: clamp(300px, 57vw, 800px);
          margin: 0 auto;
          margin-bottom: 40px;
     }

     .card {
          display: none;
     }

     .card.active {
          display: block;
          margin: 0 auto;
          margin-bottom: 40px;
     }

     .card > img {
          width: clamp(300px, 55vw, 500px);
     }

     .card.active::after {
          background-color: blue;
          width: 10px;
          height: 10px;
     }

     .dots {
          display: flex;
          flex-direction: row;
          margin: 0 auto;
     }

     .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 3px solid antiquewhite;
          margin-right: 10px;
     }

     .dot.active {
          animation-name: rectangular-dot;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          animation-duration: 2s;
          border-radius: 10px;
          transition: 0.5s ease;
     }

     @keyframes rectangular-dot {
          from {
               width: 10px;
          }
          to {
               width: 50px;
          }
     }

     .dot.active::before {
          content: "";
          width: 10px;
          height: 10px;
          animation-name: progress-load;
          animation-duration: 10s;
          background-color: antiquewhite;
          animation-iteration-count: 1;
          border-radius: 10px;
          animation-fill-mode: forwards;
          display: block;
     }

     @keyframes progress-load {
          from {
               width: 10px;
          }
          to {
               width: var(--progress);
          }
     }

     .cart-container {
          width: clamp(400px, 59vw, 900px);
          margin-left: 0;
     }

     .cart-container > h2 {
          text-align: center;
     }

     .attribution {
          padding-left: 0;
          margin: 0 auto;
     }
}
